<form autocomplete="off">
  <div class="form-group">
    <label for="lesser">Lesser</label>
    <input type="text" name="lesser" value="{{lesser}}"/>
  </div>
  <div class="form-group">
    <label for="minor">Minor</label>
    <input type="text" name="minor" value="{{minor}}"/>
  </div>
  <div class="form-group">
    <label for="improved">Improved</label>
    <input type="text" name="improved" value="{{improved}}"/>
  </div>
  <div class="form-group">
    <label for="greater">Greater</label>
    <input type="text" name="greater" value="{{greater}}"/>
  </div>
  <div class="form-group">
    <label for="major">Major</label>
    <input type="text" name="major" value="{{major}}"/>
  </div>
  <div class="form-group">
    <label for="supreme">Supreme</label>
    <input type="text" name="supreme" value="{{supreme}}"/>
  </div>
  <div class="form-group">
    <label for="mass">Mass</label>
    <input type="text" name="mass" value="{{mass}}"/>
  </div>
  <div class="form-group">
    <label for="communal">Communal</label>
    <input type="text" name="communal" value="{{communal}}"/>
  </div>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
      <i class="fas fa-save"></i> {{localize "Save"}}
    </button>
  </footer>
</form> 